<div class="bg-light">
  <div class="d-flex justify-content-between py-3">
    <h4>All posts</h4>
    <div class="form-inline">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :title_cont, class: "form-control", placeholder: "Search by title" %>
        <%= f.submit "Search", class: "btn btn-success" %>
        <%= link_to posts_path, class: "btn btn-warning text-light" do %>
          <i class="fas fa-sync"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= sort_link(@q, :title) do %>
              <i class="fas fa-sort"></i>
                Title
              <% end %>
            </th>
            <th class="text-primary">Body</th>
            <th><%= sort_link(@q, :published) do %>
              <i class="fas fa-sort"></i>
                Is published?
              <% end %>
            </th>
            <th><%= sort_link(@q, :published_at) do %>
              <i class="fas fa-sort"></i>
                Published at
              <% end %>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.title.truncate(30), post %></td>
              <td><%= post.body.truncate(40) %></td>
              <td><%= post.published %></td>
              <td><%= post.published_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
</div>



