<div class="my-3">
  <div class="card">
    <div class="card-header">
      <h4><%= @post.title %></h4>
      <% if @post.published? %>
        <h6 class="card-subtitle mb-0 text-muted">
          Posted <%= time_ago_in_words(@post.published_at) %> ago by <%= @post.author.first_name %> <%= @post.author.last_name %>.
        </h6>
      <% end %>
    </div>
    <div class="card-body">
      <p class="mb-0"><%= @post.body %></p>
    </div>
  </div>
</div>
<div class="my-3">
  <div class="card">
    <div class="card-header">
    <% if current_author %>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.label :body, "Create your comment", class: "form-label" %>
        <%= f.text_field :body, class: "form-control" %>
        <%= f.submit "Add comment", class: "btn btn-primary btn-sm mt-2 " %>
      <% end %>
    <% else %>
      <%= link_to new_author_registration_path, class: "btn btn-primary btn-sm" do %>
        Login to post a comment
      <% end %>
    <% end %>
    </div>
      <div class="card-body py-0">
        <ul class="list-group list-group-flush " id="comment-box">
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>
        </ul>
      </div>
  </div>
</div>
<% if current_author == @post.author %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning mb-3" %> 
  <%= link_to 'Destroy', post_path(@post), class: "btn btn-danger mb-3", method: :delete, data: { confirm: "Are you sure?"} %> 
<% end %>
<%= link_to 'Back to posts', :back, class: "btn btn-primary mb-5" %>
