<div class="my-3">
  <div class="card">
    <div class="card-header">
      <h4><%= @post.title %></h4>
      <h6 class="card-subtitle mb-0 text-muted">
      Posted <%= time_ago_in_words(@post.published_at) %> ago by <%= @post.author.first_name %> <%= @post.author.last_name %>.
      </h6>

    </div>
    <div class="card-body">
      <p class="mb-0"><%= @post.body %></p>
    </div>
  </div>
</div>
<div class="my-3">
  <div class="card">
    <div class="card-header">
    <% if current_author %>
      <%= simple_form_for [@post, @comment] do |f| %>
        <%= f.input :body, label: "Create your comment" %>
        <%= f.button :submit, "Add comment", class: "btn btn-primary btn-sm" %>
      <% end %>
    <% else %>
      <%= link_to new_author_registration_path, class: "btn btn-primary btn-sm" do %>
        Login to post a comment
      <% end %>
    <% end %>
    </div>
    <% if @post.comments.nil? %>
      <div class="card-body">
        <% @comments.each do |comment| %>
          <%= comment.body %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if current_author == @post.author %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary mb-3" %> 
<% end %>
<%= link_to 'Back to posts', posts_path, class: "btn btn-primary mb-3" %>
